<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IpThIsT</title>
    <link rel="stylesheet" href="./static/css/styles.css">
</head>
<body>
    <header>
        <h1 id="logo"><abbr title="IPT HiSt">IPTH</abbr></h1>
        <!-- <nav>
            <button class="dropbtn">Menu</button>

            <div class="dropdw-content">
                <li><a href="/">Main Page</a></li>
                <li><a href="/signin">Sign In</a></li>
            </ul>
        </nav> -->

        <span class="header-btn">
            <a href="/">Main Page</a>
        </span>

        <span class="header-btn" id="signup-btn">
            Sign Up
        </span>

    </header>

    <div class="login-area hidden" id="login-field">

            <div class="login-container">
                <span class="close">&times;</span>
                <button id="form-info-btn">What is this info?</button>

                <div id="forminfo" class="modal-hidden">
                    <div class="modal-content">
                        <span class="close">&times;</span>
                        <p>Fields Name, Surname, Email, Password and Graduation year are required</p>
                        <p>Fields Telephone, Birth date, Presonal website and Graduation year are optional</p>
                        <p></p>
                        <p>Email is your e-mail, it must be valid</p>
                        <p>Telephone contains 12 digits</p>
                        <p>Password must contain >8 characters</p>
                        <p></p>
                    </div>
                </div>

                <div>
                    <label for="send-option">jquery ajax?</label>
                    <input type="checkbox" name="send-option" id="send-option">
                </div>

                <div class="errors" id="errors">

                </div>
        
                <form>
                    <div>
                        <span class="error-native"></span>
                        <label>
                            Name*:
                            <input type="text" id="name" name="name" placeholder="Oleksandr" required="required" autofocus>
                        </label>
                    </div>
                    <div>
                        <span class="error-native"></span>
                        <label>
                            Surname*:
                            <input type="text" id="surname" name="surname" placeholder="Kireienko" required="required">
                        </label>
                    </div>
                    <div>
                        <span class="error-native"></span>
                        <label>
                            Email*: 
                            <input type="email" id="email" name="email" required="required" placeholder="example@mail.com">
                        </label>
                    </div>
                    <div>
                        <span class="error-native"></span>
                        <label>
                            Telephone:
                            <input type="text" id="tel" name="tel" placeholder="381234567899">
                        </label>
                    </div>
                    
                    <div>
                        <span class="error-native"></span>
                        <label>
                            Password*:
                            <input type="password" id="password" name="password" required="required" id="password">
                        </label>
                    </div>
                    <div>
                        <input type="submit">
                    </div>
                </form>

            </div>
        
    </div>

    <main>

        <div id="users-count">
            
        </div>

        <div class="records-area">    
            <div class="signups-container">
                <h4>10 last signups</h4>
                <div id="last-signups">
        
                </div>
            </div>
    
            <div class="signups-container">
                <h4>All signups</h4>
                <div id="all-signups">
        
                </div>
            </div>
        </div>


        

        <h1>Short brief history</h1>
        <p>
                <b>Логотип ФТІФiзико-технiчний iнститут (ФТI)</b>, навчально-науковий пiдроздiл КПІ ім. Ігоря Сікорського, засновано у 1995
                роцi з iнiцiативи та при активнiй участi вiдомих вчених України на чолi з <i>академіком Б.Є. Патоном</i> i академіком М.З.
                Згуровським та широких кiл освiтянської громадськостi з метою впровадження фiзтехiвської системи освiти в Українi.

        </p>
        
        <img src="/static/images/1.jpg" alt="Photo of back side of 1st educational building">
        

        <p>
            В умовах ринкової економіки, прискореного розвитку наукоємних технологій зростає попит на фахівців широкого профілю,
            здатних швидко змінювати характер професійної діяльності, переоцінювати накопичений досвід, аналізувати свої можливості,
            набувати нових знань із використанням сучасних інформаційних технологій. Фізико-технічний інститут готує фахівців, що
            забезпечують технологічну незалежність та інформаційну безпеку України.
        </p>
        
        <p>
            Підготовка фахівців такого профілю в провідних країнах світу проводиться за фізтехівською системою, запровадженою в
            Політехнічній школі в Парижі та реалізованою в Каліфорнійському й Массачусетському технологічних інститутах. Основні
            принципи фізтехівської системи освіти: глибока підготовка з фундаментальних наук і одночасно високий рівень математичної
            та фізичної освіти, а також підготовка з іноземних мов у підвищеному обсязі й поєднання широкої загальнонаукової освіти
            в кращих університетських традиціях з вузькою спеціалізацією та отриманням практичних навичок роботи в базових
            інститутах.
        </p>
        
        <p>
            Протягом навчання студенти інституту отримують освіту на рівні кращих університетів світу, про що свідчать неодноразові
            перемоги на міжнародних студентських олімпіадах у Лондоні, Будапешті, Тегерані, Празі, Варшаві, Бухаресті, Мюнхені.
        </p>
        
        <p>
            Випускники ФТІ працюють в установах НАН України, органах державної влади України, установах і компаніях державної та
            недержавної форм власності, де основними вимогами до співробітників є високий інтелект, глибокі знання, здатність
            працювати в умовах жорсткої інтелектуальної конкуренції.
        </p>

        <h2>
            Підрозділи Фізико-технічного інституту
        </h2>
        <ul>
            <li>Кафедра прикладної фізики - ПФ</li>
            <li>Кафедра фізики енергетичних систем - ФЕС</li>
            <li>Кафедра інформаційної безпеки - ІБ</li>
            <li>Кафедра математичних методів захисту інформації - ММЗІ</li>
            <li>Кафедра фізико-технічних засобів захисту інформації - ФТЗЗІ</li>
        </ul>

        <video controls="controls">
            <source src="/static/video/mll.mp4" type="video/mp4">
            <source src="/static/video/mll.3gp" type="video/3gp">
            Your browser does not support the HTML5 Video element.
        </video>

        <audio controls="controls">
            <source src="/static/audio/231.mp3" type="audio/mp3">
            <source src="/static/audio/231.ogg" type="audio/ogg">
            Your browser does not support the HTML5 Audio element.
        </audio>
    </main>


    <footer>
        <p>
            Фізико-технічний інститут Національного технічного університету України «Київський політехнічний інститут імені Ігоря Сікорського
        </p>

        <address>
            <p>
                <span>
                    Адреса ФТІ: 
                </span>просп. Перемоги, 37, корпус 1, поверх 3, кім. 308-1, 03056, Київ, Україна, кафедри - корпус №11
            </p>
            <p>
                <span>
                    Телефони для довiдок:
                </span>
                <a href="tel:+380442048093">+380 44 204 8093</a>
                <a href="tel:+380442049876">+380 44 204 9876</a>
                 
            </p>
            <p>
                <a href="mailto: novi@pti.kpi.ua">Send Email to novi@pti.kpi.ua</a>
            </p>
            <cite>
                <p>
                    <span>URL: </span>
                    <a href="http://ipt.kpi.ua">http://ipt.kpi.ua</a>
                </p>
                <p>
                    <span>Довузівська підготовка: </span>
                    <a href="http://dovuz.ipt.kpi.ua">http://dovuz.ipt.kpi.ua</a>
                </p>
            </cite>
        </address>
        <aside>
            <p>
                <span>Голова Вченої ради – науковий керівник інституту:</span> проф. Новiков Олексiй Миколайович
            </p>
            <p>
                <span>В.о.директора ФТІ:</span> Літвинова Тетяна Василівна
            </p>
            <p>
                <span>День факультету:</span> 14 лютого
            </p>
        </aside>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.min.js"></script>


    <script src="/static/js/header.js"></script>
    <script src="/static/js/modal.js"></script>
    <script src="/static/js/native_js_validation.js"></script>

    <script src="/static/js/native_signup.js"></script>

    <script src="/static/js/last_signups.js"></script>
    <script src="/static/js/all-signups.js"></script>
    <script src="/static/js/users-count.js"></script>
</body>
</html>